*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --output-height: 20vh;
  --output-header-height: 40px;
  --output-font-size: 20pt;
  --bg-color: #222;
  --fg-color: #fff;
  --header-height: 80px;
  --input-panel-height: 30vh;
  --mocha-height: calc(
    100vh - var(--input-panel-height) - var(--header-height) -
      var(--output-height)
  );
}

body {
  margin: 0;
  padding: 0;
  padding-top: var(--header-height);
  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  overflow-y: hidden;
}

body::after {
  position: fixed;
  height: calc(var(--header-height) - 10px);
  top: 0;
  left: 0;
  width: 100%;
  content: "Tests:";
  z-index: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid whitesmoke;
}

#input-panel {
  height: var(--input-panel-height);
  overflow-y: auto;
}

#output {
  padding: 0 0 0 20px;
  border: 1px solid black;
  height: calc(var(--output-height) + var(--output-header-height));
  width: 100%;
  background-color: grey;
  color: white;
  font-family: monospace;
}

#output-content {
  white-space: pre-line;
  font-size: var(--output-font-size);
  overflow-y: auto;
  height: calc(var(--output-height) - var(--output-header-height));
  margin: 0;
  padding: 0;
}

#output-header {
  white-space: pre-line;
  height: var(--output-header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#output-header > .ctrl-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-right: 20px;
}

#output-header > .ctrl-buttons > span.btn {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

#output-header::before {
  content: "Output:";
  font-size: 1.5rem;
}

#input {
  font-family: monospace;
  font-size: 1.8rem;
  width: calc(100% - 2 * 20px);
  margin: 0px 20px 50px 20px;
}

button {
  min-width: 150px;
  height: 40px;
  font-weight: bold;
  margin: 5px 10px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#mocha {
  height: var(--mocha-height);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-top: 2px solid var(--fg-color);
}

#mocha h3 {
  text-align: center;
  background-color: #555;
  padding: 10px 0;
  margin: 0;
}

#mocha-stats em,
#mocha-stats .progress {
  color: var(--fg-color);
}
