*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --output-height: 300px;
  --output-header-height: 40px;
  --output-font-size: 20pt;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: var(--output-height);
}

#output {
  white-space: pre-line;
  padding: 0 0 0 20px;
  border: 1px solid black;
  height: calc(var(--output-height) + var(--output-header-height));
  width: 100%;
  background-color: grey;
  color: white;
  font-family: monospace;
  position: fixed;
  top: calc(100vh - var(--output-height) - var(--output-header-height));
  z-index: 10;
}

#output-content {
  font-size: var(--output-font-size);
  position: relative;
  overflow-y: scroll;
  height: calc(var(--output-height) - var(--output-header-height));
  margin: 0;
  padding: 0;
}

#output-header {
  height: var(--output-header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#output-header > .ctrl-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#output-header > .ctrl-buttons > span.btn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

#output-header::before {
  content: "Output:";
  font-size: 1.5rem;
}

#input {
  font-family: monospace;
  font-size: 1.8rem;
  width: calc(100% - 2 * 20px);
  margin: 0px 20px 50px 20px;
}

button {
  min-width: 150px;
  height: 40px;
  font-weight: bold;
  margin: 5px 10px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
