*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --output-height: 300px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

#output {
    white-space: pre-line;
    padding: 0 20px;
    border: 1px solid black;
    height: var(--output-height);
    width: 100%;
    background-color: grey;
    color: white;
    font-family: monospace;
    position: absolute;
    top: calc(100vh - var(--output-height));
}

#output::before {
    content: "Output:";
    font-size: 1.5rem;
}

#input {
    font-family: monospace;
    font-size: 1.8rem;
    width: calc(100% - 2*20px);
    margin: 0px 20px 50px 20px;
}

button {
    min-width: 150px;
    height: 40px;
    font-weight: bold;
    margin: 5px 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
